<launch>
    <arg name="namespace" default="/"/>
    <arg name="world" default="$(find odap)/src/r2_gazebo/worlds/real_room_copy.world"/>


    <!-- Crear mundo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
    </include>



</launch>