<launch>
  <arg name="namespace" default="/"/>
  <arg name="cmd_timeout" default="0.5"/>

  <!-- Pose del Vehículo -->
  <arg name="x" default="-1.0"/>
  <arg name="y" default="-1.0"/>
  <arg name="z" default="0.5"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!--Cargar el otro launch del robot-->
  <include file="$(find odap)/src/r2_description/launch/R2.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <!--Cargar controladores al servidor de parámetros-->
  <rosparam file="$(find odap)/src/r2_description/config/controllers.yaml" command="load" />

  <group ns="$(arg namespace)">
    <!-- Crear mundo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <arg name="world_name" value="$(arg world_name)"/> -->
    </include>
    <!--Cargar el vehículo-->
    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model R2
                -gazebo_namespace /$(arg namespace)/gazebo
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
  <!--Nodo Spawner-->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="joint_state_ctrlr right_steering_ctrlr left_steering_ctrlr right_rear_axle_ctrlr left_rear_axle_ctrlr
          left_front_axle_ctrlr right_front_axle_ctrlr"/>

  </group>

</launch>